.single-country {
  background-color: hsl(0, 0%, 98%);
}
.content {
  min-height: 100vh;
  max-width: 100%;
  padding: 1rem;
  background-color: hsl(0, 0%, 98%);

  color: rgba(0, 0, 0, 0.85);
}
.content > img {
  width: 100%;
}
.back-button {
  width: 3.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 500px) {
.flag-big{
  margin-top: 6.25rem;

}
  .content{
    display: flex;
  }
  .single-country{
    height: 100vh;
  }


  
}
