@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
:root {
  --background-dark: hsl(207, 26%, 17%);
  --background-dark-light: hsl(209, 23%, 22%);
}
body {
  background-color: var(--background-dark);
}
.ui.icon.input > input {
  background-color: var(--background-dark-light);
  color: #fff;
}
.ui.selection.dropdown,
.ui.dropdown .menu > .item,
.ui.dropdown .menu .selected.item,
.ui.selection.visible.dropdown > .text:not(.default) {
  background-color: var(--background-dark-light);
  color: #fff;
}
.visible {
  color: #fff !important;
}
.search {
  color: white;
}
